<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi, I'm Deepak Warrier</h2>
                <hr class="light">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded text-left">
                    A dedicated software professional with a Master’s degree in Computer
                    Science & Engineering, specializing in Artificial Intelligence and Machine Learning.
                </p>
                <p class="text-faded">
                    My passion lies in exploring the vast field of computer science, from building intelligent systems
                    to creating
                    impactful applications.

                    I bring experience in full-stack development, AI/ML model building, and Computer Vision. With
                    expertise in microservice architecture and tools like Docker and Kubernetes, I aim to design
                    efficient, reliable solutions.
                </p>
                <p class="text-faded">
                    I'm an AWS Certified Machine Learning Specialist and an Oracle
                    Certified Java Programmer, always eager to take on new challenges in technology and innovation.
                </p>
                <p class="text-faded">
                    Let's collaborate and bring cutting-edge ideas to life!
                </p>
            </div>
        </div>
    </div>
</section>